body {
    background: #222222;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.wrapper {
    text-align: center;
    padding: 30px;
}

h1 {
    font-weight: lighter;
    color: white;
    font-variant: small-caps;
}

.logo {
    background-image: url("./sixsq_logo_256px.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 256px;
    height: 256px;
}

.nav-wrapper {
    display: inline-block;
}

.nav-wrapper .button {
    margin: 1rem auto 1rem auto;
    background-color: #337ab7;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    padding: 1rem;
    color: white;
    border-color: #2e6da4;
    border-radius: 5px;
    width: 20rem;
    transition: 0.2s;
}

.nav-wrapper .button-smaller {
    margin: 1rem auto 1rem auto;
    background-color: rgba(150,150,150,0.8);
    text-decoration: none;
    font-weight: lighter;
    font-size: 1.2rem;
    display: block;
    padding: 0.8rem;
    color: black;
    border-color: none;
    border-radius: 5px;
    width: 20rem;
    transition: 0.2s;
}

.nav-wrapper .button:hover {
    background-color: #286090;
    transition: 0.3s;
}

.nav-wrapper .button-smaller:hover {
    background-color: #CCD;
    transition: 0.3s;
}

.nav-wrapper .link-text {
    text-align: center;
    display: block;
    margin: 10px;
}

.medium {
  font-size: 16px;
  color: white;
}

.small {
    font-size: 12.5px;
    color: #CCC;
    font-style: italic;
}

.wrapper-dropdown {
    position: relative;
    width: 20rem;
    margin: 0 auto;
    padding: 12px 15px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}

.wrapper-dropdown .dropdown {
    position: absolute;
    left: 0;
    padding-left:0;
    right: 0;
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    transition: all 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
}

.wrapper-dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    margin: 0;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

.wrapper-dropdown .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown .dropdown li:hover a {
    color: #57a9d9;
    background: rgba(0,0,0,0.05);
    font-weight: 300;
    border-bottom: 1px solid #e6f8eb;
}

.wrapper-dropdown.active {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-dropdown.active:after {
    border-color: #82d1ff transparent;
}

.wrapper-dropdown.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 200px;
    overflow: auto;
}
