.login-pf body {
		background: #222222;
    background-size: cover;
}

#kc-logo-wrapper {
    background-image: url("../img/sixsq_logo_256px.png");
    background-repeat: no-repeat;
		background-size: contain;
}
